<!--Fyaaz Bobat - 301071094 - 10-09-2020 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content -->

<main class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-6">
				<hr class="my-4">
			</div>
		</div><br>
		<br>
		<br>
		<br>
		<!-- about section start -->
		<section class="about" id="about">
			<div class="max-width">
				<h2 class="title">About me</h2>
				<div class="about-content">
					<div class="column left"><img alt="" src="/Assets/images/img-2.jpg"></div>
					<div class="column right">
						<div class="text">
							I'm Fyaaz and I'm a <span class="typing"></span>
						</div>
						<p class='lead'>I am a Software Engineering Technology at Centennial College. Currently, I am in my 4th semester in a 3 year advance dipoloma program. I hope to land a co-op placement to help kick of my software career!</p><a href="/Assets/images/FyaazResume- (1).pdf">Download Resume</a>
					</div>
					<div class="column left"><img alt="" src="/Assets/images/ibm.jpg"></div>
					<div class="column right">
						<div class="text">
							IBM Data Science Professional Certificate
						</div>
						<p class='lead'>I am currently in the process of completing the IBM Data Science Professional Certificate offered by Coursera. The course consists of 9 courses that cover in-depth topics such as Python for Data Science & AI, Databases and SQL for Data Science, Data Analysis and Visualization with Python, and Machine Learning with Python.</p>
					</div>
					<div class="column left"><img alt="" src="/Assets/images/linkedinLearning.jpg"></div>
					<div class="column right">
						<div class="text">
							Become a Data Scientist
						</div>
						<p class='lead'>I have successfully earned a certificate by completing around 17 hours of videos. The videos talked about the fundamental stages of data science work, from Statistics and Systems Engineering to Data Mining and Machine Learning.</p>
					</div>
				</div>
			</div>
		</section>
	</main>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>