<!--Fyaaz Bobat - 301071094 - 10-09-2020 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  

  <!-- Main Content -->
<main class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-6">
				<hr class="my-4">
			</div>
		</div><br>
		<br>
		<br>
		<br>


<section class="contact" id="contact">
			<div class="max-width">
			
				<div class="contact-content">
					<div class="card">
						<div class="box">
							<i class="fas fa-envelope-open"></i>
							<div class="text">
								Email Address
							</div>
							<p>fyaazbobat@hotmail.com</p>
						</div>
					</div>
				</div>
					<div class="contact-content">
						<div class="card">
							<div class="box">
								<p><i class="fab fa-github"></i></p>
									<div class="text">
										GitHub
									</div>
								<p>https://github.com/fyaazbobat</p>
							</div>
						</div>
					</div>

				<div class="contact-content">
					<div class="card">
						<div class="box">
							<i class="fab fa-linkedin"></i>
							<div class="text">
								Linkedin
							</div>
							<p>https://www.linkedin.com/in/fyaaz-bobat-7b93471b4/</p>
						</div>
					</div>
				</div>
			</div>	
	</section>				
</main>

  
 <%- include partials/bottom_nav.ejs %>
  
