<!--Fyaaz Bobat - 301071094 - 11-21-2020 -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <!-- Main Content -->
<section class="home" id="home">
   <div class="max-width">
      <div class="home-content">
         <div class="text-1">Hello, my name is</div>
         <div class="text-2">Fyaaz Bobat</div>
         <div class="text-3"> And I am a <span class="typing"></span>
         </div>
         <a class="btn btn-primary" href="/about" role="button">About Me!</a>
      </div>
   </div>
</section>
</div>
</div>

</main>
  
 <%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>



