<!--Fyaaz Bobat - 301071094 - 10-09-2020 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!--Main Content -->
<main class="container-fluid">
		<div class="rrow row justify-content-md-center">
			<div class="col-6">
				<hr class="my-4">
			</div>
		</div>
		<div class="container marketing">
			<section class='projects'>
				<hr class="featurette-divider">
				<div class="rrow row featurette">
					<div class="col-md-7 col-md-push-5">
						<h2 class="featurette-heading"><b>Survey Site</b></h2>
						<p class="lead">In this semeter long project I played the role of the Lead Software Engineer. As a team we created a site the will allow users to create and do surveys. My role included making sure the code was up to standard and making sure the site was hosted and the GitHub repo was up to date.</p>
					</div>
					<div class="col-md-5 col-md-pull-7"><img alt="battle city" class="featurette-image img-responsive center-block" src="/Assets/images/arrowMini.jpeg"></div>
				</div>
				<hr class="featurette-divider">
				<div class="rrow row featurette">
					<div class="col-md-7">
						<h2 class="featurette-heading">JavaScript Game</h2>
						<p class="lead">In this JavaScript game everytime you click on the frog, you get a point and the from moves faster!</p>
					</div>
					<div class="col-md-5"><img alt="runaway boy" class="featurette-image img-responsive center-block" src="/Assets/images/frog2.png"></div>
				</div>
				<hr class="featurette-divider">
				<div class="rrow row featurette">
					<div class="col-md-7">
						<h2 class="featurette-heading">Restaurant Menu Calculator</h2>
						<p class="lead">In this C# Group project we created a GUI application that gives the total of all food selected.</p>
					</div>
					<div class="col-md-5"><img alt="runaway boy" class="featurette-image img-responsive center-block" src="/Assets/images/restaurant.png"></div>
				</div>
			</section>
		</div>
	</main>

 <%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>