<!--Fyaaz Bobat - 301071094 - 10-09-2020 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!--Main Content -->

<main class="container-fluid">
		<div class="row justify-content-md-center">
			<div class="col-6">
				<hr class="my-4">
			</div>
		</div><br>
		<br>
		<br>
		<br>
		<!-- services section start -->
		<section class="services" id="services">
			<div class="max-width">
				<h2 class="title">My services</h2>
				<div class="serv-content">
					<div class="card">
						<div class="box">
							<i class="fas fa-paint-brush"></i>
							<div class="text">
								Web Application
							</div>
							<p>I have experience in building a fully functional site with a NodeJs and AngularJS.</p>
						</div>
					</div>
					<div class="card">
						<div class="box">
							<i class="fas fa-code"></i>
							<div class="text">
								Programming
							</div>
							<p>Proficient in C#, Java, Oracle SQL, MongoDB, Unix/Linux, Python, JavaScript, NodeJS, HTML, AngularJS</p>
						</div>
					</div>
					<div class="card">
						<div class="box">
							<i class="fas fa-database"></i>
							<div class="text">
								Data
							</div>
							<p>With my previous courses and experience, I am experienced in Oracle sql, NoSql, MongoDB, and Mongo Atlas</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="skills" id="skills">
			<div class="max-width">
				<div class="skills-content">
					<div class="column right">
						<div class="bars">
							<div class="info">
								<span>HTML</span>
							</div>
							<div class="line html"></div>
						</div>
						<div class="bars">
							<div class="info">
								<span>C#</span>
							</div>
							<div class="line C"></div>
						</div>
						<div class="bars">
							<div class="info">
								<span>JavaScript</span>
							</div>
							<div class="line js"></div>
						</div>
						<div class="bars">
							<div class="info">
								<span>Python</span>
							</div>
							<div class="line python"></div>
						</div>
						<div class="bars">
							<div class="info">
								<span>Java</span>
							</div>
							<div class="line java"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
    </div>
<%- include partials/footer.ejs %>
</main>
<%- include partials/bottom_nav.ejs %>
  
